<%- include('partials/header') %>

<body>
  <div class="container">
    <header class="header">
      <h1 class="header__title"><a class="header__link" href="/">GameSpot</a></h1>
      </nav>
    </header>

    <main class="main">
      <h2 class="main__title">Nos Jeux</h2>
      <div class="cards">
        <% games.forEach((game)=> { %>
        <a class="card" href="/game/<%= game.name %>">
          <div class="innerCard">
            <h3>
              <%= game.title %>
            </h3>
            <img class="card__img" src="<%= game.miniature %>" alt="">
          </div>
          <div class="flip-card-back <%=game.name%>Card">
            <p class="description"><%= game.description %></p>
          </div>
        </a>

        <% }) %>

      </div>



    </main>
  </div>
</body>

</html>